<mat-toolbar color="primary">
  <div class="centered">
    <a mat-button routerLink="/">Főoldal</a>
    <a mat-button routerLink="/products">Termékek</a>
    <a mat-button routerLink="/cart">Kosár</a>
    <ng-container *ngIf="!authService.isLoggedIn">
      <a mat-button routerLink="/login">Bejelentkezés</a>
      <a mat-button routerLink="/register">Regisztráció</a>
    </ng-container>
    <ng-container *ngIf="authService.isLoggedIn">
      <ng-container *ngIf="(user$ | async)?.admin">
        <a mat-button routerLink="/admin">Admin</a>
      </ng-container>
      <a mat-button routerLink="/profile-details">{{ (user$ | async)?.displayName }}</a>
      <button mat-button (click)="logout()">Kijelentkezés</button>
    </ng-container>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
